{% block filefield_preview_image %}
{% spaceless %}
    <div class="imagefield-preview" style="float: left; margin-right: 15px;">
        <img src="{{ form.vars.is_prototype ? '' : file.uri|default('') }}" alt="image preview" style="height: 70px;">
    </div>
{% endspaceless %}
{% endblock %}
